<div class="max-w-screen-xl mx-auto flex h-64 bg-white/20 backdrop-blur-lg rounded-md mb-4 justify-center bg-[url('/assets/images/bg/discoveries.jpeg')] bg-no-repeat bg-center bg-cover">
    <div class="absolute text-center max-w-screen-md mt-16 sm:mt-20 font-bold text-2xl sm:text-3xl">A scenic coastal town embraced by majestic cliffs, graced with pristine islands and powdery white-sand beaches.</div>
    <div class="mt-[218px] lg:w-2/3 md:w-2/3 sm:w-full sticky top-[214px]"><app-search></app-search></div>
</div>