<div class="max-w-screen-xl mx-auto flex h-screen ripple-background">
    <div class="lg:px-4 md:px-4 sm:px-4 w-full m-auto">
        <div class="grid lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 lg:gap-8 md:gap-8 sm:gap-0 pt-12 px-4">
            <div data-aos="fade-right" class="m-auto lg:mr-0 md:mr-0">
                <div class="w-[300px] h-[350px]">
                    <!-- <div class="shape absolute left-0 bottom-0">
                    </div> -->
                    <!-- <img src="" class="absolute"> -->
                </div>
            </div>
            <div class="sm:order-1" data-aos="fade-left">
                <label  data-aos="fade-left" data-aos-delay="100" class="text-4xl font-bold text-[#B5F1FF] drop-shadow-lg ml-[-4px] typewriter w-48">EL NIDO</label>
                <p  data-aos="fade-left" data-aos-delay="150" class="text-lg font-bold mb-4">EL NIDO</p>
                <p data-aos="fade-left" data-aos-delay="200">El Nido, Palawan is a breathtaking tropical paradise in the Philippines, known for its dramatic limestone cliffs, crystal-clear turquoise waters, and stunning island-hopping adventures.</p>
            </div>
        </div>
    </div>
</div>