
<div class="max-w-screen-xl mx-auto autoShow lg:p-6 md:p-4 sm:p-2 bg-white rounded-lg mb-12">
    <div class="font-bold text-3xl text-gray-800 text-center pt-4">About Me</div>
    <div class="flex flex-col sm:flex-row">
        <div class="lg:w-1/3 md:w-1/2 sm:w-full shadow-sm rounded-2xl m-4 p-4">
            <!-- <div class="flex items-center justify-center">
                <div class="relative group w-40 h-40 rounded-full overflow-hidden transition-transform duration-300 hover:scale-105">
                    <img
                    src="https://scontent.fmnl13-1.fna.fbcdn.net/v/t39.30808-6/514352314_24023852923922214_7616700142742139345_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=6ee11a_nc_eui2=AeGH2zz71yqNt88VPQji9Y77tY9kamdKmja1j2RqZ0qaNtvpyFNMu7k4E5BSiGDWqLggbqI2_A02rOmtZU3Rmetv&_nc_ohc=bjuJgzYUupkQ7kNvwGDqJm5_nc_oc=AdmM88RF9SeeIb_zO3g1buM8KhmozJQdfmCJHMoKQiK7KzGulsOUBGwP9i-U2cPZV9I&_nc_zt=23&_nc_ht=scontent.fmnl13-1.fna&_nc_gid=WgqCrEN1Ee9elcbTonB_vAoh=00_AfUp_uesVmtAVfaMQxZP_nOiZRVtjBe7p7ZgiY2JKfYhcg&oe=689A8CFC"
                    alt="Profile"
                    class="w-full h-full object-cover"
                    />
                    <div class="-inset-1 rounded-full ring-4 ring-orange-600 group-hover:ring-cyan-500 transition-all duration-300"></div>
                    <div class="rounded-full w-14 h-14 bg-green-400"></div>
                </div>
            </div> -->
            <div class="flex items-center justify-center">
                <div class="relative group w-40 h-40 rounded-full overflow-hidden shadow-xl transition-transform duration-300 hover:scale-105">
                    <img
                    src="/assets/images/bg/owner.jpg"
                    alt="Profile"
                    class="w-full h-full object-cover"
                    />
                    <div class="absolute -inset-1 rounded-full ring-4 ring-white group-hover:ring-cyan-500 transition-all duration-300"></div>
                </div>      
                          
            </div>
                <div class="flex items-center justify-center text-white">
                    <div class="flex items-center justify-center gap-3 mt-4">
                        <div class="w-7 h-7 inline-block cursor-pointer" (click)="openWebsite()"> <app-logo [logoName]="'web'" /></div>
                        <div class="w-7 h-7 inline-block cursor-pointer" (click)="openFacebookProfile()"> <app-logo [logoName]="'fb'" /></div>
                        <div class="w-7 h-7 inline-block cursor-pointer" (click)="openMessenger()"> <app-logo [logoName]="'messenger'" /></div>
                    </div>
                </div>
            <div class="text-center p-4 text-black">
                <div class="w-full">
                    <p class="text-3xl">Ryan G. Sanchez</p>
                    <p class="text-1xl mb-2">Fullstack Web Developer</p>
                    <p class="text-gray-500 text-sm">Brgy. Buena Suerte, El Nido, Palawan, Philippines</p>
                </div>
            </div>

        </div>
        <div class="p-4 text-black lg:w-2/3 md:w-1/2 sm:w-full">
            <p class="mb-4">"As a proud native of El Nido, Palawan, I created this responsive website to share the unmatched beauty of my beloved hometown with the world. More than just a showcase, this platform aims to make local information more accessible—through a user-friendly, ad-free experience designed with our community in mind.</p>
            <p class="mb-4">This project also serves as a meaningful addition to my portfolio as a fullstack web developer. But beyond that, it is my way of giving back—by offering a digital space that highlights what El Nido has to offer, connects locals and visitors alike, and supports the town in small yet impactful ways.</p>
            <p class="mb-4">Welcome, and I hope this site becomes a helpful and inspiring resource for you."</p>
        </div>
    </div>
</div>
